body {
  margin: 0;
  background: #23252C;
}

.card-wrapper {
  max-width: 320px;
  background: #1a1b21;
  border-radius: 10px;
  margin: 2em auto;
}

.info-wrapper {
  background-image: url("./images/PB-Update.png");
  width: 100%;
  height: 300px;
  background-position: 60% 0;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px 10px 0 0;
}

.info-section {  
  text-align: center;
  padding-top: 300px;
  height: 20%;
}

.info-name {
  font-family: inter, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.info-title {
  font-family: inter, sans-serif;
  font-size: 12.8px;
  font-weight: regular;
  color: #F3BF99;
}
.info-btns > button {
  border: none;
  font-weight: medium;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 30px;
  margin: 10px;
  cursor: pointer;
}
.linkedin-btn {
  background: #5093E2;
  color: white;
}
.email-btn {
  background: white;
  color: #374151;
}
.linkedin-btn:hover {
  background: #2875cd;
}
.email-btn:hover {
  background: rgb(206, 205, 205);
}

.about-section {
  padding-top: 180px;
  margin: 0 30px;
}
.about-title {
  margin-top: 0px;
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #F5F5F5;
}
.about-text {  
  margin-top: -10px;
  font-family: inter, sans-serif;
  font-size: 11px;
  font-weight: regular;
  color: #DCDCDC;
  word-spacing: 3px;
  line-height: 1.5;
}

.interest-section {
  margin: 0 30px;  
  padding-bottom: 20px;
}
.interest-title {
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #F5F5F5;
}
.interest-text {
  margin-top: -10px;
  font-family: inter, sans-serif;
  font-size: 11px;
  font-weight: regular;
  color: #DCDCDC;
  word-spacing: 3px;
  line-height: 1.5;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161619;
  height: 70px;
}

.social-link {
  color: #918e9b;
  margin: 0 10px;
}

.social-link:hover {
  color: white;
}
a {
  text-decoration: none;
  color: inherit
}